<html>
  <head>
    <title></title>
     <link href="/static/all.css" rel="stylesheet">

  </head>
  <body>
    <h1>Launcher</h1>
    <button class="button">Execute</button>

    <div class="output">
    </div>

  </body>
</html>
