<html>
  <head>
    <title></title>
     <link href="/static/all.css" rel="stylesheet">

  </head>
  <body>
    <h1>Launcher</h1>
    
    {{ range $name, $script := .Scripts }}
      <a href="/scripts/{{$name}}">{{$script.Name}}</a><br/>
    {{ end }}

  </body>
</html>
