<html>
  <head>
    <title></title>
     <link href="/static/all.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><a href="/">Script Launcher</a></h1>
    </header>
    <ul>
    {{ range $name, $script := .Scripts }}
      <li><a href="/scripts/{{$name}}">{{$script.Name}}</a>
    {{ end }}
    </ul>
  </body>
</html>
